footer {
    background-color: var(--footer-color);
    min-height: 200px;
    padding: 48px 60px 100px 60px;
  
    .footer-container {
      max-width: var(--main-page-desktop-max-width);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .webpage-links {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 14px;
      }
  
      a {
        line-height: 22px;
      }
  
      .social-media-links {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 14px;
      }
    }
  
    .footer-container.horizontal {
      // max-width: var(--main-page-desktop-max-width);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      row-gap: 24px;
      align-items: center;
  
      .webpage-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
      }
  
      a {
        line-height: 22px;
      }
  
      .social-media-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        span {
          border-bottom: none;
        }
      }
    }
  }
  