@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
}

/* NICE FOR OVERSKFIT @font-face {
  font-family: 'Alegreya';
  src: url('/fonts/Alegreya/Alegreya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Header";
  src: url("/fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Alegreya Sans Light";
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Alegreya Sans Regular";
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Alegreya Sans Thin";
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Alegreya Sans Medium";
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo";
  src: url("/fonts/Cardo/Cardo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo Italic";
  src: url("/fonts/Cardo/Cardo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo Regular";
  src: url("/fonts/Cardo/Cardo-Regular.ttf") format("truetype");
}

:root {
  /* Base Tokens */
  --tds-color-primary-base: #bc9284;
  --tds-color-primary-base: #af8475;
  --tds-color-primary-base: #b58474;
  --tds-color-primary-base: #693929;
  --tds-color-primary-base: #7d4d3d;
  --tds-color-secondary-base: #8fa595;
  --tds-color-secondary-base: #616357;
  --tds-color-secondary-base: #434731de;
  --tds-color-teritary-base: #f0ebe5;
  --tds-color-teritary-base: #e2dfd6;

  --tds-color-neutrals-white: rgb(255, 255, 255);
  --tds-color-neutrals-gray: #372316;

  --primary-color: #bc9284;
  --secondary-color: #f0ebe5;
  --tertiary-color: #292624;

  --white-color: #ffffff;
  --black-color: #000000;

  --font-family: "Alegreya Sans";

  --main-page-desktop-max-width: 1440px;
  --main-page-desktop-max-width: 1200px;

  /* Reference Tokens */
  --footer-color: var(--tds-color-teritary-base);
  --footer-color: #616357;
  --footer-color: var(--tds-color-secondary-base);
  --footer-link-color: #cbc1bb;

  --background-color: var(--secondary-color);
  --background-color: #fbfaf5;
  --focus-outline-color: var(--tds-color-secondary-base);
  --focus-outline-offset: 2px;

  --text-color: var(--tertiary-color);
  --jds-link-text-color: var(--tds-color-primary-base);
  --jds-link-text-color-dark: var(--tds-color-neutrals-gray);

  --paragraph-max-width: 600px;

  --tds-search-hit-border-color: #d3d6c3;
  --tds-search-filter-main-color: #bc9284;
  --tds-search-hit-bg: #e1e5c83a;
  --tds-search-hit-border-radius: 24px;
  --tds-search-hit-bg-color-hover: #c5998a36;

  --tds-pagination-height: 40px;
  --tds-pagination-width: 40px;
  --tds-pagination-color: #383533a1;
  --tds-pagination-text: #383533a1;
  --tds-pagination-bg-color-selected: #b58474;
  --tds-pagination-bg-color-hover: #bc928442;
  --tds-pagination-bg-color-selected-hover: #b97f6b;
  --tds-pagination-color-selected: #ffffff;

  --tds-pagination-bg-color-selected: #9b776b;
  --tds-pagination-bg-color-hover: #bc928442;
  --tds-pagination-bg-color-selected-hover: var(--tds-color-primary-base);
  --tds-pagination-color-selected: #ffffff;

  --tds-color-light-theme: #cbc1bb;
  --tds-color-dark-theme: #514b4b;
  --tds-color-dark-theme-border: #514b4b;

  --tds-color-filter-button-border: #bc9284;
  --tds-color-filter-button-border: var(--tds-color-primary-base);
  --tds-color-filter-button-bg: #9b776b;
  --tds-color-filter-button-bg: var(--tds-color-primary-base);
  --tds-color-filter-button-bg: #8b6657;

  --tds-bg-color-mobile-menu: #f5f5ea;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition:
    color 0.3s,
    text-decoration-color 0.3s,
    outline-offset 0.3s;
  color: var(--jds-link-text-color);

  &:hover {
    text-decoration-color: transparent;
  }
}

::selection {
  background-color: #bc928442;
  color: var(--tds-color-dark-theme);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;

  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-family: "Alegreya", sans-serif;
}

main {
  flex: 1;
}

.container {
  max-width: var(--main-page-desktop-max-width);
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 496px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: "Alegreya Header", sans-serif;
  font-weight: 400;

  &.hide-margins {
    margin: 0;
  }
}

h1,
.heading1 {
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 24px;
}

h2,
.heading2 {
  font-size: 24px;
  line-height: 28.8px;
  margin-top: 36px;
  margin-bottom: 16px;

  @media screen and (max-width: 780px) {
    font-size: 20px;
    line-height: 25px;
    margin-top: 24px;
    margin-bottom: 10px;
  }
}

h3,
.heading3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 14px;
}

p,
li {
  font-family: "Alegreya Sans Light", sans-serif;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

label {
  font-family: "Alegreya Sans Light", sans-serif;
}

.standard-page {
  max-width: 750px;
  margin-bottom: 64px;
}

@media screen and (max-width: 780px) {
  .page-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.frontpage {
  h2 {
    font-size: 36px;
  }
}

ul.custom-ul {
  margin: 24px 0;

  li {
    max-width: 450px;
    margin-left: 12px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 4px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      transform: translateY(0);
      width: 9px;
      height: 9px;
      background: url("/images/icons/li_icon.svg") no-repeat center center;
      background-size: contain;
    }

    gap: 8px;
  }
}
