@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 64px;
    top: 0;
  }

  23% {
    left: 64px;
    top: 0;
  }

  25% {
    left: 128px;
    top: 0;
  }

  35.5% {
    left: 128px;
    top: 0;
  }

  37.5% {
    left: 128px;
    top: 64px;
  }

  48% {
    left: 128px;
    top: 64px;
  }

  50% {
    left: 64px;
    top: 64px;
  }

  60.5% {
    left: 64px;
    top: 64px;
  }

  62.5% {
    left: 64px;
    top: 124px;
  }

  73% {
    left: 64px;
    top: 124px;
  }

  75% {
    left: 0;
    top: 124px;
  }

  85.5% {
    left: 0;
    top: 124px;
  }

  87.5% {
    left: 0;
    top: 64px;
  }

  98% {
    left: 0;
    top: 64px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader-6 {
  position: absolute;
  width: 192px;
  height: 192px;
  scale: 0.275;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin: 2px;
  border-radius: 0px;
  background: #cecece;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
  background-color: var(--tds-color-neutrals-white);
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
  background-color: var(--tds-color-primary-base);
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
  background-color: var(--tds-color-neutrals-white);
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
  background-color: var(--tds-color-primary-base);
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
  background-color: var(--tds-color-neutrals-white);
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
  background-color: var(--tds-color-primary-base);
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
  background-color: var(--tds-color-neutrals-white);
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
  background-color: var(--tds-color-primary-base);
}

.heart-left-container {
  position: absolute;
  width: 192px;
  height: 192px;
  scale: 0.275;
  transform: rotate(45deg);

  .heart-left {
    width: 118px;
    height: 192px;
    background-color: var(--tds-color-primary-base);
    top: 2px;
    left: -120px;
    position: absolute;
    border-radius: 100px 0 0 100px;
  }
}

.heart-right-container {
  position: absolute;
  width: 192px;
  height: 192px;
  scale: 0.275;
  transform: rotate(-45deg);

  .heart-right {
    width: 118px;
    height: 192px;
    background-color: var(--tds-color-neutrals-white);
    left: 192px;
    top: 2px;
    position: absolute;
    border-radius: 0 100px 100px 0;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 48px 0;
}
