.about-kurver-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 200px;

  .text-container {
    padding: 40px 0;

    h2 {
      font-size: 40px;
      margin-bottom: 36px;
      line-height: 50px;

      @media screen and (max-width: 780px) {
        font-size: 32px;
        line-height: 44px;
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    a {
      margin-top: 24px;
    }
  }
}

@media (max-width: 1220px) {
  .about-kurver-container {
    column-gap: 80px;
  }
}

@media (max-width: 869px) {
  .about-kurver-container {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 24px;
    margin-bottom: 24px;

    img {
      width: 100%;
    }

    .text-container {
      padding: 24px 0;
    }
  }
}
