.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.image-slider {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.image-slider-images {
  display: flex;
  width: calc(350px * 3); /* Adjust for the number of images */
  animation: slide 100s linear infinite;
}

.image-slider-images img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

/* Keyframes for linear animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
