/* .view-julekurv-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 48px 0;

  .julekurv-list {
      img {
        padding: 24px;
      }
  }

  button {
    border-radius: 50px;
    background-color: inherit;
    padding: 8px;
    border-color: #BC9284;
  }
} */

/* 
.parent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px; 

  .view-julekurv-section-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  max-width: 100%; 
  overflow: hidden; 
  position: relative; 
}

.julekurv-list {
  display: flex;
  transition: transform 0.5s ease; 
  transform: translateX(calc(-3000px * (currentIndex)));
}

.julekurv-item {
  min-width: 300px; 
  margin-right: 24px; 
  transition: filter 0.5s ease; 
}

.julekurv-item.blur {
  filter: blur(4px); 
}

.julekurv-item.active {
  opacity: 1;
}

.julekurv-item:not(.active) {
  opacity: 0.5; 
}
} */

/* WORK GOOD */
/* .view-julekurv-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.julekurv-list {
  display: flex;
  overflow: hidden; 
  position: relative;
  column-gap: 24px;
}

.item-container {
  transform: translateX(-100%);
  transition: transform 1.5s ease; 
  width: 300px; 
  height: 260px; 
}

.slide-out {
  transform: translateX(-100%); 
  opacity: 0;
} */

.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-hearts-container {
  display: flex;
  gap: 60px;
  margin: 30px 0 80px 0;
  justify-content: space-around;
  flex-wrap: wrap;

  @media screen and (max-width: 650px) {
    margin: 16px 0 40px 0;
  }
}

.view-julekurv-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Hide overflow to create a clean scrolling effect */
  max-width: 1400px; /* Set a fixed width to contain the items */
}

.julekurv-list {
  display: flex;
  column-gap: 24px;
  transition: transform 2.5s ease; /* Smooth transition for scrolling */
  will-change: transform; /* Optimize for performance */
  width: calc(324px * 3); /* Total width for 3 items */
}

.item-container {
  width: 300px; /* Ensure each item has the same width */
  height: 260px; /* Same height as Image */
  transition: filter 1.5s ease; /* Smooth transition for blur effect */

  border-bottom: none !important;
  text-decoration: none !important;
}

.fade-out {
  opacity: 0; /* Fade out effect */
}

.blur {
  filter: blur(4px); /* Adjust blur intensity as needed */
  opacity: 0.7; /* Optional: Reduce opacity for better effect */
}
