.our-hearts-container {
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 30px 0 80px 0;
  justify-content: space-around;
  flex-wrap: wrap;

  @media screen and (max-width: 650px) {
    margin: 16px 0 40px 0;
  }
}

.view-julekurv-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 1400px;
}

.julekurv-list {
  display: flex;
  column-gap: 24px;
  transition: transform 2.5s ease;
  will-change: transform;
  width: calc(324px * 3);
}

.item-container {
  width: 300px;
  height: 260px;
  transition: filter 1.5s ease;

  border-bottom: none !important;
  text-decoration: none !important;
}

.fade-out {
  opacity: 0;
}

.blur {
  filter: blur(4px);
  opacity: 0.7;
}
