.full-width-wrapper-container {
  /* padding: 10px 100vw 30px;
  margin: 0 -100vw; */
  padding: 10px 0 30px 0;
  width: 100%;

  &.default {
    background-color: inherit;
  }

  &.green {
    background-color: var(--tds-color-secondary-base);
  }

  &.red {
    background-color: var(--tds-color-primary-base);
  }
}
