.full-width-wrapper-container {
  padding: 10px 0 30px 0;
  width: 100%;

  &.default {
    background-color: inherit;
  }

  &.green {
    background-color: var(--tds-color-secondary-base);

    ::selection {
      background-color: var(--tds-color-light-theme);
      color: var(--tds-color-secondary-base);
    }
  }

  &.red {
    background-color: var(--tds-color-primary-base);

    ::selection {
      background-color: var(--tds-color-light-theme);
      color: var(--tds-color-primary-base);
    }
  }
}
