.how-to-container {
  display: flex;
  column-gap: 24px;
  margin-bottom: 36px;

  @media screen and (max-width: 650px) {
    margin-bottom: 16px;
  }

  p {
    margin-top: 0;
  }

  .number-with-color-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: fit-content;

    span {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      color: var(--tds-color-light-theme);
      text-align: center;
      font-weight: 600;
      font-family: var(--font-alegreya);
      line-height: 32px;
    }

    &.dark span {
      color: var(--tds-color-neutrals-white);
    }

    &.light span {
      font-weight: 400;
      transform: translateY(-40%);
      top: 5px !important;
    }

    img {
      width: auto;
    }
  }

  &.top {
    .number-with-color-container {
      align-items: flex-start;

      span {
        top: 3px;
        transform: translateY(0);
      }
    }
  }
}
