.number-with-color-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: fit-content;

  span {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    font-weight: 600;
  }
}
