.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;

  &.light {
    color: var(--tds-color-neutrals-white);

    h2::before,
    h2::after {
      background-color: var(--tds-color-neutrals-white);
    }
  }

  &.dark {
    color: var(--tds-color-neutrals-gray);

    h2::before,
    h2::after {
      background-color: var(--tds-color-neutrals-gray);
    }
  }

  h2 {
    color: inherit;
    text-align: center;
    position: relative;
    display: inline-block;
  }

  h2::before,
  h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 90%;
    height: 1px;
  }

  h2::before {
    left: -115%;
    top: 50%;
  }

  h2::after {
    right: -115%;
    top: 50%;
  }
}

@media (max-width: 869px) {
  .content-header {
    h2::before,
    h2::after {
      content: none;
      position: absolute;
      top: 50%;
      width: 90%;
      height: 1px;
    }
  }
}
