.popover-content {
  padding: 24px 36px;
  border: 1px solid #ccc;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  min-width: 200px;
  margin: 0 12px;

  h2 {
    margin-top: 0;
  }

  li {
    font-size: inherit;
    margin-left: 0 !important;
  }

  ul {
    margin-top: 12px;
  }
}

.popover-button {
  display: inline;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: inherit;
  color: var(--tds-color-primary-base);
  margin-left: 4px;
  margin-right: -1px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #7d4d3dc7;
  text-underline-offset: 4px;
}

.popover-icon {
  position: relative;
  top: -6px;
  left: -3px;
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 650px) {
  .popover-content {
    max-width: 90%;
    padding: 20px 24px;
  }
}
