@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    /* Default styles */
    --primary-color: #bfbf99;
    --secondary-color: #F0EBE5;
    --tertiary-color: #372316;
    
    --white-color: #FFFFFF;
    --black-color: #000000;
    
    --font-family: 'IBM Plex Sans';


    --main-page-desktop-max-width: 1440px;
    --main-page-desktop-max-width: 1200px;
}

