.button {
  background-color: transparent;
  padding: 14px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  height: fit-content;
  border-radius: 50px;
  width: fit-content;
  font-family: var(--font-alegreya-sans-light);
  line-height: 16px;
  transition: background-color 0.5s ease;

  &.link {
    line-height: 24px;
    text-decoration: none;
    border: 1px solid var(--tds-color-primary-base);
    border: 1px solid var(--tds-color-neutrals-gray);

    &:hover {
      background-color: var(--tds-search-hit-bg);
    }
  }

  &.light {
    border: 1px solid var(--tds-color-light-theme);
    color: var(--tds-color-light-theme);
    transition: background-color 0.5s ease;

    &:hover {
      background-color: var(--tds-color-light-theme);
      color: var(--tds-color-primary-base);
      font-weight: 600;
    }
  }

  &.dark {
    color: var(--tds-color-dark-theme);
    border: 1px solid var(--tds-color-dark-theme-border);
  }

  &:focus {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
  }

  &:focus-visible {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
  }
}

.button-link:hover {
  background-color: #cfc6ba;
}
