.button {
  background-color: transparent;
  padding: 14px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  width: fit-content;
  font-family: "Alegreya Sans Light";
  transition: background-color 0.5s ease;

  &.link {
    text-decoration: none;
    border: 1px solid var(--tds-color-primary-base);
    border: 1px solid var(--tds-color-neutrals-gray);
    /* border-bottom: 1px solid #bc9284 !important; */

    &:hover {
      background-color: #f8f4f2;
    }
  }

  &.light {
    border: 1px solid var(--tds-color-neutrals-white);
    color: var(--tds-color-neutrals-white);
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #f8f4f2;
      color: var(--tds-color-primary-base);
    }
  }

  &.dark {
    color: var(--tds-color-neutrals-gray);
  }
}

.button-link:hover {
  background-color: #cfc6ba;
}
