.button {
  background-color: transparent;
  padding: 14px 32px;
  text-align: center;
  display: inline-block;
  height: 58px;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  height: fit-content;
  min-height: 58px;
  border-radius: 50px;
  width: fit-content;
  font-family: "Alegreya Sans Light";
  transition: background-color 0.5s ease;

  &.link {
    text-decoration: none;
    border: 1px solid var(--tds-color-primary-base);
    border: 1px solid var(--tds-color-neutrals-gray);

    &:hover {
      background-color: #f8f4f2;
    }
  }

  &.light {
    border: 1px solid var(--tds-color-light-theme);
    color: var(--tds-color-light-theme);
    transition: background-color 0.5s ease;

    &:hover {
      background-color: var(--tds-color-light-theme);
      color: var(--tds-color-primary-base);
      font-weight: 600;
    }
  }

  &.dark {
    color: var(--tds-color-dark-theme);
    border: 1px solid var(--tds-color-dark-theme-border);
  }

  &:focus {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
  }

  &:focus-visible {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
  }
}

.button-link:hover {
  background-color: #cfc6ba;
}
