.contact-section-container {
  display: flex;
  padding: 48px;
  justify-content: space-around;
  align-items: center;
  gap: 48px;

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .contact-form {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }

  @media (max-width: 879px) {
    flex-direction: column;
    padding: 24px 0;

    img {
      display: none;
    }

    div {
      width: 100%;
    }

    h2 {
      margin-top: 12px;
    }
  }
}
