.pagination-container {
  display: flex;
  justify-content: space-between;

  .option-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
    background-color: transparent;
    color: var(--tds-pagination-text);

    label {
      font-size: 18px;
    }

    .custom-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;

      height: var(--tds-pagination-height);
      padding: 8px 36px 8px 12px;
      border: 1px solid var(--tds-pagination-text);
      background-image: url("/images/icons/pagination/arrow_down.svg");
      background-repeat: no-repeat;
      background-position: right 8px center;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      font-weight: 500;
      color: var(--tds-pagination-text);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .pagination-buttons-container {
    display: flex;
    column-gap: 12px;

    .page-buttons {
      display: flex;
      column-gap: 12px;
    }

    button {
      width: var(--tds-pagination-width);
      height: var(--tds-pagination-height);
      background-color: transparent;
      cursor: pointer;

      border: 1px solid var(--tds-pagination-text);
      color: var(--tds-pagination-text);
      font-size: 18px;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background-color: var(--tds-pagination-bg-color-hover);
      }

      &.active:hover {
        background-color: var(--tds-pagination-bg-color-selected-hover);
      }

      &.active {
        background-color: var(--tds-pagination-bg-color-selected);
        color: var(--tds-pagination-color-selected);
      }

      img {
        margin-top: 4px;

        &.left {
          margin-right: 4px;
        }

        &.right {
          margin-left: 2px;
        }
      }
    }
  }
}
