.jds-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--jds-link-text-color);
  transition:
    0.3s,
    text-decoration-color 0.3s,
    outline-offset 0.3s,
    color 2s;
  .icon-container {
    margin-right: 5px;
    height: 20px;
  }

  span {
    vertical-align: middle;
    line-height: 20px;
  }

  &:hover {
    text-decoration-color: transparent;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
  }
}
