.kurv-mal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 48px;

  .heart-container2 {
    width: fit-content;
    transition: transform 1.3s ease;

    .image-left,
    .image-right {
      transition: transform 1.3s ease;
      transform-origin: 100% 100%;

      @media screen and (max-width: 550px) {
        width: 140px;
      }

      @media screen and (max-width: 450px) {
        width: 120px;
      }
    }

    &:hover {
      transform: rotate(-45deg) translate(-30%, -10%);
    }

    &:hover .image-left {
      transform: rotate(90deg);
      transform: rotate(90deg) scaleX(-1) translate(100%, 0%);
    }

    .image-left {
      transform: rotate(0deg);
    }

    .image-right {
      transform: rotate(0deg) translate(40%, 0);
    }

    &:hover .image-right {
      transform: rotate(0deg) translate(0, 0);

      &.two-mals {
        transform: rotate(0deg) scaleX(-1) scaleY(1) translate(100%, 0%);
      }
    }

    &.hovered {
      transform: rotate(-45deg) translate(-30%, -10%);
    }

    &.hovered .image-left {
      transform: rotate(90deg) scaleX(-1) translate(100%, 0%);
    }

    &.hovered .image-right {
      transform: rotate(0deg) translate(0, 0);

      &.two-mals {
        transform: rotate(0deg) scaleX(-1) scaleY(1) translate(100%, 0%);
      }
    }
  }
}
