.dropdownContainer {
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: var(--background-color);
  overflow: auto;
  z-index: 1;
  max-height: calc(100vh - 80px);
  transform: translateY(calc(-100% - 8px));
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.open {
  pointer-events: auto;
  transform: translateY(0);
}
