.inspiration-section-container {
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 48px;
  row-gap: 48px;
}

@media (max-width: 450px) {
  .inspiration-section-container {
    flex-direction: column;
    row-gap: 48px;
    width: 100%;
  }
}
