.language-button {
  width: 44px;
  height: 44px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border: none;
  margin-bottom: 12px;

  &::after {
    bottom: 38%;
    left: 28%;
    width: 50%;
    height: 2px;

    content: "";
    position: absolute;
    background-color: black;
    transform-origin: right bottom;
  }

  &.active::after {
    transform: rotate(45deg);
    transform: translate(-4px, 4px) rotate(45deg);
  }

  &.active::before {
    transform: translate(-2px, -4px) rotate(-45deg);
  }

  &::before {
    top: 40%;
    right: 22%;
    width: 50%;
    height: 2px;

    content: "";
    position: absolute;
    background-color: black;
    transform-origin: right bottom;
  }

  .language-icon {
    transition: all 0.3s ease-in-out;
    position: absolute;
    display: block;
    top: 22%;
    left: 24%;
    width: 58%;
    height: 58%;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;

    &::after {
      left: 10%;

      bottom: -8%;
      width: 132%;
      height: 96%;

      content: "";
      position: absolute;
      border: 2px solid black;
      border-color: transparent transparent black transparent;
      border-radius: 50%;
      transform: rotate(90deg);
    }

    &::before {
      right: 10%;

      bottom: -8%;
      width: 132%;
      height: 96%;

      content: "";
      position: absolute;
      border: 2px solid black;
      border-color: transparent transparent black transparent;
      border-radius: 50%;
      transform: rotate(-90deg);
    }
  }

  &.active .language-icon::after {
    width: 0;
    height: 0;
    border: 0;
  }

  &.active .language-icon::before {
    width: 0;
    height: 0;
    border: 0;
  }

  &.active .language-icon::before {
    transform: translate(-2px, -4px) rotate(-45deg);
  }

  &.active .language-icon {
    width: 0;
    height: 0;
    border-color: transparent;
  }
}

// .language-button {
//   width: 46px;
//   height: 46px;
//   transition: all 0.3s ease-in-out;
//   cursor: pointer;
//   border-radius: 25px;
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: inherit;
//   border: none;
//   margin-bottom: 12px;

//   &::after {
//     content: "";
//     position: absolute;
//     bottom: 35%;
//     right: 24%;
//     width: 46%;
//     height: 3px;
//     margin-top: -2px;
//     background-color: black;
//     transform-origin: right bottom;
//   }

//   &::before {
//     content: "";
//     position: absolute;
//     bottom: 55%;
//     right: 24%;
//     width: 46%;
//     height: 3px;
//     margin-top: -2px;
//     background-color: black;
//     transform-origin: right bottom;
//   }

//   .language-icon {
//     transition: all 0.3s ease-in-out;
//     position: absolute;
//     display: block;
//     top: 22%;
//     left: 24%;
//     width: 58%;
//     height: 58%;
//     border-radius: 50%;
//     border-width: 2.5px;
//     border-style: solid;
//     border-color: black;

//     // &::after {
//     //   content: '';
//     //   position: absolute;
//     //   bottom: -1px;
//     //   right: -11px;
//     //   width: 27px;
//     //   height: 18px;
//     //   border: 2.5px solid black;
//     //   border-color: transparent transparent black transparent;
//     //   border-radius: 50%;
//     //   transform: rotate(90deg);
//     // }

//     &::after {
//       content: '';
//       position: absolute;
//       bottom: -13%;
//       right: -65%;
//       width: 130%;
//       height: 100%;
//       border: 3px solid black;
//       border-color: transparent transparent black transparent;
//       border-radius: 50%;
//       transform: rotate(90deg);
//     }

//     &::before {
//       content: '';
//       position: absolute;
//       bottom: -13%;
//       right: 5%;
//       width: 130%;
//       height: 100%;
//       border: 3px solid black;
//       border-color: transparent transparent black transparent;
//       border-radius: 50%;
//       transform: rotate(-90deg);
//     }
//   }
// }

.search-button {
  width: 44px;
  height: 44px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
  }

  &::before {
    content: "";
    position: absolute;
    top: 29%;
    right: 29%;
    top: 29%;
    right: 29%;
    width: 0;
    height: 2px;
    margin-top: -2px;
    background-color: black;
    transform: rotate(-45deg);
    transform-origin: right top;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 22%;
    right: 22%;
    width: 29%;
    bottom: 22%;
    right: 22%;
    width: 29%;
    height: 2px;
    margin-top: -2px;
    background-color: black;
    transform: rotate(45deg);
    transform-origin: right bottom;
  }

  .search-icon {
    position: absolute;
    display: block;
    top: 22%;
    left: 24%;
    width: 42%;
    height: 42%;
    border-radius: 50%;
    border-width: 2.5px;
    border-style: solid;
    border-color: black;
  }

  &.active::before,
  &.active::after {
    width: 65%;
    bottom: 26%;
    right: 30%;
  }

  &.active .search-icon {
    width: 0;
    height: 0;
    border-color: transparent;
  }

  &.active,
  &:hover {
    background-color: #f0ebe5 !important;
  }
}

.search-button::before,
.search-button::after,
.search-button .search-icon {
  transition: all 0.3s ease-in-out;
}

.language-button::before,
.language-button::after,
.language-button .language-icon {
  transition: all 0.3s ease-in-out;
}

.header-container {
  padding: 10px 0;
  background-color: var(--background-color);
  z-index: 100;
  position: relative;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: var(--font-alegreya-header);
      border-bottom: none;
      text-decoration: none;
      font-size: 36px;
      color: inherit;

      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;

      &:focus-visible {
        outline: 2px solid var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
      }
    }

    .link-items-container {
      display: flex;
      align-items: center;
      column-gap: 60px;

      .link-container ul {
        display: flex;
        gap: 36px;
      }

      .link-container li {
        margin: 0;
      }

      .link-container a {
        color: var(--jds-link-text-color-dark);
        font-size: 20px;
        text-decoration-color: transparent;
        text-decoration-thickness: from-font;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: from-font;
        }

        &:focus-visible {
          outline: 2px solid var(--focus-outline-color);
          outline-offset: var(--focus-outline-offset);
        }
      }

      @media screen and (max-width: 840px) {
        .link-container {
          opacity: 0;
          transform: translateY(-20px);
          background-color: transparent;
          pointer-events: none;
          transition:
            opacity 3s ease-in-out,
            background-color 2s ease,
            transform 3s ease-in-out;

          &.open-mobile-format {
            border-top: 1px solid var(--tds-color-neutrals-gray);
            border-bottom: 1px solid var(--tds-color-neutrals-gray);
            background-color: var(--background-color);
            transform: translateY(0);
            pointer-events: auto;
            transition:
              opacity 3s ease-in-out,
              transform 3s ease-in-out;

            display: flex;
            position: absolute;
            top: 90px;
            left: 0;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: flex-start;
            padding-top: 80px;
            opacity: 1;

            @media screen and (max-width: 479px) {
              top: 72px;
            }
          }

          &.open-mobile-format ul {
            flex-direction: column;

            a {
              font-size: 24px;
            }
          }
        }
      }

      .icons {
        display: flex;
        gap: 20px;
        color: rgb(55 35 22 / 75%) !important;

        .search-button {
          width: 44px;
          height: 44px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          border-radius: 25px;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: inherit;
          border: none;
          margin-bottom: 12px;
        }
      }
    }
  }
}

.header-container li,
ul {
  margin: 0;
  padding: 0;
}

.dropdown-container {
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: var(--background-color);
  overflow: auto;
  z-index: 1;
  max-height: calc(100vh - 80px);
  transform: translateY(calc(-100% - 8px));
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);

  &.open {
    pointer-events: auto;
    transform: translateY(0);
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 32px 0;
    border-bottom: 1px solid var(--tds-color-neutrals-gray);

    button {
      height: 46px;
      min-height: auto;
      margin: 0;
      margin-left: 12px;
    }

    .search-input {
      width: 80%;
      padding: 8px 8px 8px 5px;
      font-size: 14px;
      border: none;
    }
  }
}

@media screen and (max-width: 479px) {
  .header-container {
    padding: 8px 0;

    .nav-container .logo {
      font-size: 26px;

      img {
        display: none;
      }
    }
  }
}
