header {
  nav {
    //   border-bottom: 1px solid #37231678;
    max-width: var(--main-page-desktop-max-width);
    margin: 30px auto 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 36px;

      &.icons {
        gap: 20px;
        color: rgb(55 35 22 / 75%) !important;
      }

      a {
        color: var(--jds-link-text-color);
        text-decoration: none;
        font-size: 20px;

        &:hover {
          border-bottom: 1px solid var(--jds-link-text-color);
        }
      }
    }

    svg {
      height: 32px !important;
      width: 32px !important;
      // position: absolute;
      // top: 2px;
    }
  }
}
