.hjertekurvStep {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 48px;
  max-width: 280px;

  @media (max-width: 869px) {
    row-gap: 24px;

    img {
      height: 200px;
    }
  }

  p {
    text-align: center;
  }
}
