.filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

    input {
      clip-path: rect(0 0 0 0);
      position: absolute;
      height: 1px;
      width: 1px;
      margin: 0;
    }

    span {
      font-size: 18px;
      font-weight: 500;
      color: var(--tds-color-filter-button-border);

      &:focus-visible {
        outline: 2px solid var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
      }
    }

    .filter-button {
      background-color: transparent;
      font-weight: 600;
      border: 1px solid var(--tds-color-filter-button-border);
      border-radius: 60px;
      padding: 10px 36px;
      cursor: pointer;
      display: block;

      @media screen and (max-width: 496px) {
        padding: 8px 30px;
        font-size: 16px;
      }

      &.active {
        background-color: var(--tds-color-filter-button-bg);
        color: var(--tds-color-neutrals-white);

        &:hover {
          color: var(--tds-color-filter-button-border);;
        }
      }

      &:hover {
        background-color: var(--tds-color-filter-button-hover-bg);
      }
    }
  }
}
